.modalContent {
  width: 80%;
  margin: 56px auto; /* Add top margin to move the modal down */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  text-align: center;
  margin-bottom: 20px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 5px;
  font-weight: bold;
}

.datePicker {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.submitButton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #45a049;
}
