
.reviewbody {

    height: 100%;
    overflow: auto;

}

.reviewbody::-webkit-scrollbar {
    width: 0px; //스크롤 막대 가로 두께
}

.reviewbody::-webkit-scrollbar-track {
    background-color: #fff;
}

.reviewbody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 167, 8, 0.555);
    border-radius: 10px;
}

.reviewbody::-webkit-scrollbar-button {
    display: none;
}

/* hover 효과 */
.reviewbody::-webkit-scrollbar-thumb:hover {
    background-color: rgb(14, 194, 53);
    transition: all 0.2s;
    /* 작동 안 됨 */
}