.carnotilist{
    width: 20%;
    height: auto;
    background-color: white;
    margin-bottom: 3%;
    margin: 2.5% auto 3%;
    }
    
.notilistimg{
        width: 100%;
        height: 70%;
    }
.notilist{
        width: 100%;
        height: 30vh;
    }
.notilisttext{
text-align: center;
    }