// checkout.js
#payment-button {
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}

#payment-button:hover {
    background-color: #0056b3;
}

// OpenTossPayments.js
.pay-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

// Success.js, Fail.js
.result-wrapper {
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 8px;
    margin: 100px auto 0;
    padding: 20px;
    padding-bottom: 5px;
    max-width: 400px;
    width: 100%;
}
.box_section {
  text-align: center;
}
.pay-head {
  color: #007bff;
  margin-bottom: 20px;
}
.pay-body {
  color: #333;
  font-size: 16px;
  margin: 10px 0;
}

.pay-button {
    cursor: pointer;
    text-align: center;
    width: 60px;
    padding: 5px;
    margin-left: auto;
}