.overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* 회색 반투명 배경 */
}

.box {
    width: 200px;
    height: 200px;
    background-image: url('../charge/assets/img/loading2.gif');
    /* 이미지 경로에 맞게 수정하세요 */
    background-size: cover;
    background-position: center;
    z-index: 1000;
}