.ListContainer {
    width: 500px;
    max-height: 653px;
    // background-color: rgb(143, 178, 255);
    overflow-y: auto;

    .Station {
        display: flex;
        justify-content: space-between;
        height: 94px;
        border-bottom: 1px solid #aaa;

        .Status {
            margin-left: 10px;
            width: 300px;
            position: relative;

            .Name {
                font-size: 1.1rem;
                font-weight: bold;
            }

            .Address {
                font-size: 0.9rem;
                position: absolute;
                bottom: 5px;
            }
        }

        .Charger {
            text-align: center;
            margin-right: 10px;
            width: 150px;

            .ChargerNum {
                font-size: 0.9rem;
                margin-bottom: 5px;
            }

            .ChargeAble {
                margin-bottom: 5px;
                text-align: right;
            }

            .SearchBtn {
                border: 1px solid black;
                background-color: white;
                width: 100px;
                height: 30px;
                line-height: 30px;
                font-weight: bold;
                font-size: 1.2rem;
                cursor: pointer;
                float: right;
            }

            .SearchBtn:hover {
                background-color: #F2F2F2;
            }
        }
    }


}