.ListContainer {
  width: 500px;
  max-height: 69.7vh;
  // background-color: rgb(143, 178, 255);
  overflow-y: auto;

  // 스크롤바 몸통
  &::-webkit-scrollbar {
    width: 8px;
  }

  // 스크롤바 배경
  &::-webkit-scrollbar-track {
    background: #c2e1ff;
  }

  // 스크롤바 위치
  &::-webkit-scrollbar-thumb {
    background: #2c7fdf;
  }

  // 스크롤바 호버
  &::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
  }

  .Station {
    display: flex;
    justify-content: space-between;
    height: 94px;
    border-bottom: 1px solid #aaa;

    .Status {
      margin-left: 10px;
      width: 66%;
      position: relative;

      .Name {
        font-size: 1.1rem;
        font-weight: bold;

        span {
          cursor: pointer;
        }
        span:hover {
          color: blue;
        }
      }

      .Address {
        font-size: 0.75rem;
        position: absolute;
        bottom: 5px;
        cursor: pointer;

        a {
          color: black;
          text-decoration: none;
        }
        a:hover {
          color: blue;
          text-decoration: underline;
        }
      }
    }

    .Charger {
      margin-right: 10px;
      text-align: right;
      width: 34%;
      font-weight: bold;

      .ChargerType {
        font-size: 0.8rem;
        margin-bottom: 5px;
      }
      div:nth-child(2) {
        margin-bottom: 5px;
      }

      .able {
        color: #5298F2;
      }

      .disable {
        color: #F18D8A;
      }
    }
  }

  .show-more-button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px auto;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ebf5ff;
    color: #2c7fdf;
    border: 1px solid #2c7fdf;
  }

  .show-more-button:hover {
    background-color: #c2e1ff;
  }
}

p {
  text-align: center;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: bold;
}

.loading {
  width: 100px;
  height: 100px;
  animation: spin 3.5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
