.close-btn {
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    margin-right: 10px;
}

.station-container {

    .station-name {
        text-align: left;
        font-size: 2rem;
        letter-spacing: 3px;
    }

    .man-ava {
        display: flex;
        justify-content: space-around;

        p {
            margin: 0;
            padding: 10px;
            margin-top: 20px;
            border-radius: 5px;
            width: 40%;
        }

        .station-management {
            border: 2px solid #999;
        }  

        .able {
            border: 2px solid green;
        }

        .disable {border: 2px solid red;
        }

    }

    .id-spe-typ {
        display: flex;
        justify-content: center;

        p {
            span:first-child {
                background-color: #999;
            }
        }

        .station-id {
            width: 25%;
            }
    
        .station-speed {
            width: 15%;
            }
    
        .station-type {
            width: 45%;
            }

    }

    .station-address {}
}