.reservation-list {
  border: 1px solid black;
  padding: 10px;

  .flex {
    display: flex;
    margin: 10px 5px;
  }

  .value {
    width: 30%;
    font-size: 15px;
  }
}

.modify-btn {
  width: 30%;
}
