.OurStation {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 94px;
    border: 1px solid #aaa;
    margin-left: 10px;

    .Status {
      margin-left: 10px;
      width: 66%;
      position: relative;

      .Name {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 5px;
      }

      .Address {
        font-size: 0.75rem;
        position: absolute;
        bottom: 5px;
        cursor: pointer;

        a {
          color: black;
          text-decoration: none;
        }
        a:hover {
          font-weight: bold;
        }
      }
    }

    .Charger {
      margin-top: 10px;
      margin-right: 10px;
      text-align: right;
      width: 34%;
      font-weight: bold;
      position: relative;

      .ChargerType {
        font-size: 0.8rem;
      }

      .reserve-button {
        position: absolute;
        right: 0;
        bottom: 10px;
        border: none;
        color: white;
        background-color: #007bff;
        border-radius: 5px;
      }

      .reserve-button:hover {
        background-color: #0056b3;
      }
    }
  }