.form-wrapper {
  width: 600px;
  border: 1px solid black;
  font-family: font;

  .flex {
    display: flex;
    width: 100%;
    padding: 15px 15px 15px 10px;
  }

  .column {
    width: 200px;
  }

  .date-picker {
    width: 220px;
  }
}

.reservation {
  width: 30%;
  justify-self: center;
}

.modal-content {
  background-color: #fff;
}
