.search-list-container {
    height: 73vh;
    background-color: white;
    border: 1px solid #888;
    position: absolute;
    z-index: 1;
    top: 0;
    transition: left 0.5s ease, opacity 0.6s ease;
  }
  
  .search-list-container.visible {
    left: 0;
    opacity: 1;
  }
  
  .search-list-container.hidden {
    left: -500px;
    opacity: 0;
  }

  

  .open-btn {
    background-color: #ddd;
    width: 35px;
    height: 100px;
    text-align: center;
    line-height: 95px;
    z-index: 1;
    font-size: 2rem;
    font-weight: 'bold';
    cursor: pointer;
    position: absolute;
    border: 1px solid #888;
    border-left-color: #ddd;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 32vh;
    transition: left 0.5s ease;
  }
  
  .open-btn.visible {
    left: 500px;
  }

  .open-btn.hidden {
    left: 0;
  }