.adminPageSelect {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.55em;
    // 드래그 못하게
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .adminSelect {
        width: 30%;
        height: 55px;
        padding: 5px 0;
        cursor: pointer;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        transition: transform 0.2s ease;
        overflow: auto;

        &:hover {
            transform: scale(1.04);
            border-color: black;
        }
    }

    .selected {
        border-width: 3px;
        border-color: black;
        scale: 1.04;

        &:hover {
            transform: none;
        }
    }
}

.listHeader {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 10px 10px;
    font-size: 1.3em;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .resNo {
        width: 7%;
    }

    .resUserName {
        width: 18%;
    }

    .resSelectedName {
        width: 35%;
    }

    .resSelectedAd {
        width: 10%;
    }

    .resSelectedTime {
        width: 20%;
    }

    .hiddenText {
        width: 10%;
    }
}


.adminPageList {
    width: 80%;
    max-height: 560px;
    margin: 0 auto;
    overflow-y: auto;

    // 스크롤바 몸통
    &::-webkit-scrollbar {
        width: 8px;
    }

    // 스크롤바 배경
    &::-webkit-scrollbar-track {
        background: white;
    }

    // 스크롤바 위치
    &::-webkit-scrollbar-thumb {
        background: #ccc;
    }

    // 스크롤바 호버
    &::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }

    .noSelect {
        padding: 10px 10px;
        font-size: 1.3em;
        text-align: center;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

}

.adminList {
    font-size: 1em;

    .listHeader {
        display: flex;
        padding: 10px 10px;
        font-size: 1.3em;
        text-align: center;
        border-top: 2px solid black;
        border-bottom: 2px solid black;

        .resNo {
            width: 7%;
        }

        .resUserName {
            width: 18%;
        }

        .resSelectedName {
            width: 35%;
        }

        .redSelectedAd {
            width: 10%;
        }

        .resSelectedTime {
            width: 20%;
        }

        .hiddenText {
            width: 10%;
        }
    }


    .listBody {
        display: flex;
        height: 70px;
        padding: 10px 10px;
        text-align: center;
        align-items: center;
        border-bottom: 1px solid #aaa;

        .resNo {
            width: 7%;
        }

        .resUserName {
            width: 18%;
        }

        .resSelectedName {
            width: 35%;
        }

        .resSelectedAd {
            width: 10%;
        }

        .resSelectedTime {
            width: 20%;
        }

        .spaceBlank {
            margin-left: auto;
        }

        .resCancelBtn {
            width: 60px;
            padding: 5px 0;
            border-radius: 10px;
            margin-left: auto;
            background-color: #ebf5ff;
            color: #2c7fdf;
            border: 1px solid #2c7fdf;

            &:hover {
                background-color: #c2e1ff;
            }
        }
    }

    .adminFilter {
        position: absolute;
        top: 120px;
        width: 137px;
        font-size: 0.8em;
    }

    .adminFilter2 {
        position: absolute;
        top: 125px;
        left: 350px;
        font-size: 0.8em;
    }

    .adminFilter3 {
        position: absolute;
        top: 125px;
        left: 615px;
        font-size: 0.8em;
    }

    .adminFilter4 {
        position: absolute;
        top: 125px;
        left: 710px;
        font-size: 0.8em;
    }

    .filteredCount {
        position: absolute;
        top: 120px;
        right: 205px;
        font-size: 0.8em;

        .filteredNum {
            font-size: 1.1rem;
        }
    }
}