.admin-page-select {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.55em;
    // 드래그 못하게
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .admin-select {
        width: 30%;
        height: 50px;
        padding: 5px 0;
        cursor: pointer;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.04);
            border-color: black;
        }
    }

    .selected {
        border-width: 3px;
        border-color: black;
        scale: 1.04;

        &:hover {
            transform: none;
        }
    }

    // .reserve-station {
    //     border: 1px solid red;
    // }

    // .reserve-car {
    //     border: 1px solid blue;
    // }

    // .review {
    //     border: 1px solid green;
    // }
}

.list-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 10px 10px;
    font-size: 1.3em;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    .res-no {
        width: 5%;
    }

    .res-user-name {
        width: 20%;
    }

    .res-selected-name {
        width: 35%;
    }

    .res-selected-ad {
        width: 10%;
    }

    .res-selected-time {
        width: 20%;
    }

    .hidden-text {
        width: 10%;
    }
}


.admin-page-list {
    width: 80%;
    height: 545px;
    margin: 0 auto;
    overflow-y: auto;

    // 스크롤바 몸통
    &::-webkit-scrollbar {
        width: 8px;
    }

    // 스크롤바 배경
    &::-webkit-scrollbar-track {
        background: #c2e1ff;
    }

    // 스크롤바 위치
    &::-webkit-scrollbar-thumb {
        background: #2c7fdf;
    }

    // 스크롤바 호버
    &::-webkit-scrollbar-thumb:hover {
        background: #0056b3;
    }

    .no-select {
        padding: 10px 10px;
        font-size: 1.3em;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .admin-list {

        .list-body {
            display: flex;
            height: 70px;
            padding: 10px 10px;
            text-align: center;
            align-items: center;
            border-bottom: 1px solid #aaa;

            .res-no {
                width: 5%;
            }

            .res-user-name {
                width: 20%;
            }

            .res-selected-name {
                width: 35%;
            }

            .res-selected-ad {
                width: 10%;
            }

            .res-selected-time {
                width: 20%;
            }

            .space-blank {
                margin-left: auto;

                .res-cancel-btn {
                    width: 60px;
                    padding: 5px 0;
                    border-radius: 10px;
                    background-color: #ebf5ff;
                    color: #2c7fdf;
                    border: 1px solid #2c7fdf;

                    &:hover {
                        background-color: #c2e1ff;
                    }
                }
            }
        }

        .admin-filter {
            position: absolute;
            top: 120px;
            width: 137px;
            font-size: 0.8em;
        }

        .filtered-count {
            position: absolute;
            top: 120px;
            left: 280px;
            font-size: 0.8em;

            .filtered-num {
                font-size: 1.1rem;
            }
        }

        .admin-filter2 {
            position: absolute;
            top: 125px;
            right: 370px;
            font-size: 0.8em;
        }

        .admin-filter3 {
            position: absolute;
            top: 125px;
            right: 250px;
            font-size: 0.8em;
        }

        .admin-filter4 {
            position: absolute;
            top: 125px;
            right: 150px;
            font-size: 0.8em;
        }
    }

    // .reserve-station {
    //     border: 1px solid red;
    // }

    // .reserve-car {
    //     border: 1px solid blue;
    // }

    // .review {
    //     border: 1px solid green;
    // }
}