.modal-open-btn {
    margin: 0 200px 500px 200px;
    width: 300px;
    height: 100px;
    background: blue;
    cursor: pointer;
    text-align: center;
}

.modal-content {
    background-color: red;
    border-radius: 20px;
}

.modal-close-btn {
    width: 100px;
    height: 30px;
    background-color: greenyellow;
    border: 0px;
    margin: 10px 0 0;
    cursor: pointer;
}

