.maincontainer {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    
  }
  
  .contentline{
      position: fixed;
      width: 70%;
      height: 760px;
      background-size: contain;
      margin-right: 4%;
      margin-top: 3%;
      border: 1px solid #555555;
      border-radius: 15px;
      box-shadow: 18px 18px 1px -8px #555555;
      overflow: hidden;
  }