.maincontainer {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
  
  .contentline{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: white;
    // border-radius: 15px;
    overflow: hidden;
    padding-top: 0;
    // background-color: gray;
  }