@font-face {
  font-family: 'font';
  src: url(https://plugngo.s3.ap-northeast-2.amazonaws.com/WantedSans-Bold.woff2);
}

.tabline {
  position: fixed;
  right: 8%;
  display: flex;
  flex-direction: column;
}
.tabli {
  width: 180px;
  height: 50px;
  background-color: white;
  border: 1px solid white;
  margin-left: 50%;
  &:hover {
    cursor: pointer;
    color: red;
  }
}
.active {
  color: red;
}
