.testhomeContainer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.covervideo {
  width: 100%;
  height: 1900px;
  overflow: auto;
  position: relative;
  animation: moveY 10s 1;
  object-fit: cover;

  @keyframes moveY {
    0% {
      transform: translateY(-800px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.hometext {
  font-size: 350px;
  font-weight: 100px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 6%;
  animation: hometext 3s linear forwards;
  opacity: 0;
  animation-delay: 4s;
  color: white;
  width: 1500px;
  height: 300px;


  @keyframes hometext {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 0.3
    }

    50% {
      opacity: 0.5
    }

    70% {
      opacity: 0.7
    }

    100% {
      opacity: 1
    }
  }
}

.hometext2 {
  position: absolute;
  left: 1000px;
  top: 300px;
}

@keyframes text {
  0% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0px);
  }
}

.covercontent {
  font-size: 120px;
  animation: 3s text2;
  position: relative;
  left: -10%;
  height: 500px;
  bottom: 100px;
  color: white;
  margin-left: 1%;

  @keyframes text2 {
    0% {
      transform: translatey(-30px)
    }

    100% {
      transform: translatey(0)
    }
  }
}


.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.redblue {
  z-index: 2;

  width: 200px;
  height: 200px;
}


.marquee {
  width: 300px;
  height: 100px;
  font-weight: 600;
  border: 5px solid white;
  background: transparent;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  overflow: hidden;
  transition: 0.3s;
  position: absolute;
  top: 550px;
  left: 600px;
  animation: opbtn 1s forwards;
  opacity: 0;
  animation-delay: 8s;

  &:hover {
    transform: scale(1.1);
  }

  span {
    display: block;
    padding: 0 20px;
    animation: move-left 3s linear infinite;


    &::after {
      position: absolute;
      content: attr(data-text);
      top: 0;
      right: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }



  @-webkit-keyframes move-left {
    to {
      transform: translateX(100%);
    }
  }

  @keyframes move-left {
    to {
      transform: translateX(100%);
    }
  }

  @keyframes opbtn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}