.covertest{
    width: 1300px;
    height: 700px;
    // background-: url(../../../assets/mainback.mp4);
    background-repeat: repeat;
    // background-size: cover;
    // background-repeat: no-repeat;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.coverheader{
    font-Size: 150px;
    text-align: center;display: inline-block;
    padding: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    right: 70px;
    animation: text 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    @keyframes text {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(35%);
        }
      }
}
.covercontent {
    font-size: 100px;
    font-weight: bold;
    color: red;
    margin-left: 5%;
    position: relative;
    bottom: 150px;
    display: inline-block;
    animation: textarea 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    @keyframes textarea {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(10%);
        }
      }
}
