.notiheader{
    width: 65%;
    margin-left: 010%;
}
.notiheader{
    border-bottom: 1px solid gray;
    width: 65%;
}
.notitab{
    width: 65%;
    display: flex;

    justify-content: center;
    margin-left: 10%;
    margin-bottom: 5%;

}
.notiul{
    width: 25%;
    height: 50px;
text-align: center;
align-content: center;
border: 1px solid gray;
cursor: pointer;
&:hover{
    background-color: gray;
    border: 1px solid white;
}
}

.oneline{
    width: 90%;
    display: flex;
    margin-bottom: 3%;
}
.twoline{
    display: flex;
    width: 90%;
    margin-bottom: 3%;
    margin-left: 5%;
}
.threeline{
    display: flex;
    width: 90%;
    margin-bottom: 3%;
}
.lineimg{
    margin: 0 2%
}