.Testheader {
  width: 13%;
  height: 100%;
  background-color: whitesmoke;
  right: 0;
  position: absolute;
  margin-right: 2px;
  z-index: 9999;
  box-shadow: 3px 4px 3px 3px #555555;
}
.logo {
  background-image: url(../../assets/nlogo.png);
  background-size: cover;
  width: 100%;
  height: 150px;

  // position: relative;
  // bottom: 20%;
  cursor: pointer;
}
.loginbtn {
  position: relative;
  bottom: 30%;
  width: 100%;
  height: 50px;
}
.logoutbtn {
  display: flex;
  width: 10%;
  height: 50px;
  justify-content: center;
  position: fixed;
  bottom: 25%;
  right: 2%;
}
.logouticon {
  align-self: center;
}
.tabline {
  width: 100%;
  box-shadow: 3px 4px 3px 3px #555555;
  // margin-right: 15%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  // padding-top: 1%;
  // padding-bottom: 1%;
}
.tabli {
  width: 100%;
  height: 50px;
  // margin-bottom: 5px;
  background-color: white;
  border-bottom: 1px solid black;

  &:hover {
    cursor: pointer;
    color: #2c7fdf;
    background-color: #c2e1ff;
  }
}
.tabliactive {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  box-shadow: 2px 2px 1px 1px #555555;
  color: #2c7fdf;
  background-color: #ebf5ff;
}
