/* General styles for selected dates */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
    background-color: #216ba5 !important;
    color: #fff !important;
}

/* Specific style for end date */
.react-datepicker__day--range-end {
    background-color: #216ba5 !important;
    color: #fff !important;
    border-radius: 0.3rem;
}

/* Override current date style */
.react-datepicker__day--today {
    background-color: transparent !important;
    color: inherit !important;
}

.content {
    .react-datepicker {
      width: 100%;
    }
  
    #calendar {
      width: 100%;
    }
  
    #pickupTime,
    #returnTime {
      margin-top: 10px;
    }
}