.carreviewlist{
    width: 50%;
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.review{
    width: 22%;
    border: 1px solid black;
    border-radius: 10px;
}
.reviewname{
    font-size: 23px;
    padding: 2%;
}
.reviewlistimg{
    width: 100%;
}
.reviewtext{
    margin: 0 auto;
    margin-top: 2%;
    font-size: 18px;
    
}