.charge_footer {
   width: 10%;
    height: 100%;
align-content: center;
    z-index: 5;
}

.git {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.notion {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.erd {
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

.instagram {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.kakao {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}