.Charge_header {
  // border: 1px solid blue;
  width: 100%;
  min-height: 9vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.charge_logo {
  margin-left: 5%;
  // border: 1px solid red;
  width: 16%;
  // background: #fff;
}

.charge_cate {
  margin-right: 2%;
  display: flex;
  // border: 1px solid green;
  align-items: center;
}

.list {
  // border: 1px solid blue;
  padding: 20px;
  margin-left: 30px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.chargeLogo {
  width: 100%;
  height: 100%;
  // object-fit: cover; // 이미지를 비율을 유지하면서 꽉 채우기
}