// 이벤트 상세 페이지 스타일
.eventDetailBody {
  margin: 30px 0;
  height: 608px;
  position: relative;
  overflow: auto; // overflow 설정

  &::-webkit-scrollbar {
    width: 0px; // 스크롤바 너비를 0으로 설정하여 숨기기
  }

  .eventDetailImg {
    width: 1000px;
    margin: 0 auto;
    display: block;
  }

  .actionButtons {
    position: absolute;
    right: 42%;
    // bottom: 25px;
    /* 위치 조정 */
    // display: flex;
    gap: 10px;
    /* 버튼 간격 조정 */
  }

  .actionButtons button {
    padding: 10px 20px;
    margin: 10px 5px 5px;

    cursor: pointer;

    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }


}

// 이벤트 리스트
.eventlistContainer {
  width: 100%;
  padding: 20px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-top: 1px solid #2c7fdf;
    border-bottom: 1px solid #2c7fdf;

    button {
      background: none;
      border: none;
      margin: 5px 0;
      padding: 5px 20px;
      cursor: pointer;
      font-size: 16px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease;

      &.active {
        border-bottom: 2px solid #000;
        color: #2c7fdf;
      }
    }
  }

  .eventHeader {
    font-size: 24px;
    font-weight: bold;
    border: 0.1px solid grey;
    width: 150px;
    height: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto 2%;
  }

  .eventParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .eventItem {
    width: 30%;
    height: 280px;
    margin-top: 1%;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease;
    margin: 0 1% 20px;

    &:hover {
      transform: scale(1.02);
    }

    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      border-bottom: 1px solid gray;
    }

    span {
      font-size: 18px;
      display: inline-block;
      margin: 6px 10px 0 10px;

      span {
        font-size: 0.8em;
        width: 55px;
        text-align: center;
        padding: 3px 6px;
        border-radius: 15px;
      }

      .active {
        background-color: #ebf5ff;
        border: 1px solid #2c7fdf;
      }

      .done {
        background-color: #ffebeb;
        border: 1px solid #df2c2c;
      }
    }
  }
}

// 이벤트 디테일
.eventDetailHeader {
  height: 89px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

  .eventCurrent {
    line-height: 89px;
  }

  .eventDetailTitle {
    line-height: 89px;
    font-size: 1.4em;
  }

  .flexBox {
    display: flex;
    flex-direction: column;
    line-height: 44.5px;
    text-align: center;

    div {
      height: 50%;
    }

    div:first-child {
      font-size: 0.8em;
    }

    div:last-child {
      font-size: 1.3em;
    }
  }

  .marginBox {
    margin: 0 50px;
  }

  .marginBox:first-child {
    border-right: 1px solid black;
    padding-right: 50px;
  }

  .marginBox:last-child {
    border-left: 1px solid black;
    padding-left: 50px;
  }
}