.eventbody {
  padding: 1%;
}

// 이벤트 리스트
.eventlist-container {
  width: 100%;
  padding: 20px;

  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-top: 1px solid #2c7fdf;
    border-bottom: 1px solid #2c7fdf;

    button {
      background: none;
      border: none;
      margin: 5px 0;
      padding: 5px 20px;
      cursor: pointer;
      font-size: 16px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease;

      &.active {
        border-bottom: 2px solid #000;
        color: #2c7fdf;
      }
    }
  }

  .event-header {
    font-size: 24px;
    font-weight: bold;
    border: 0.1px solid grey;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto 2%;
  }

  .noti-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .noti-item {
    width: 30%;
    height: 280px;
    margin-top: 1%;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s ease;
    margin: 0 1% 20px;

    &:hover {
      transform: scale(1.02);
    }

    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      border-bottom: 1px solid gray;
    }

    span {
      font-size: 18px;
      display: inline-block;
      margin: 6px 10px 0 10px;

      span {
        font-size: 0.8em;
        width: 55px;
        text-align: center;
        padding: 3px 6px;
        border-radius: 15px;
      }

      .active {
        background-color: #ebf5ff;
        border: 1px solid #2c7fdf;
      }

      .done {
        background-color: #ffebeb;
        border: 1px solid #df2c2c;
      }
    }
  }
}

// 이벤트 디테일
.event-detail-header {
  height: 89px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

  .event-current {
    line-height: 89px;
  }

  .event-detail-title {
    line-height: 89px;
    font-size: 1.4em;
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    line-height: 44.5px;
    text-align: center;

    div {
      height: 50%;
    }

    div:first-child {
      font-size: 0.8em;
    }

    div:last-child {
      font-size: 1.3em;
    }
  }

  .margin-box {
    margin: 0 50px;
  }

  .margin-box:first-child {
    border-right: 1px solid black;
    padding-right: 50px;
  }

  .margin-box:last-child {
    border-left: 1px solid black;
    padding-left: 50px;
  }
}

.event-detail-body {
  margin: 30px 0;
  height: 608px;
  position: relative;

  .event-detail-img {
    width: 1000px;
    margin: 0 auto;
    display: block;
  }

  button {
    position: absolute;
    right: 25px;
    bottom: -10px;
    padding: 5px 15px;
    font-size: 1.2em;
  }
}

.event-button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
