.charge_footer {
    width: fit-content;
    height: 50px;
    // border: 1px solid red;
    position: absolute;
    right: 20%;
    bottom: 1%;
}

.git {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.notion {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.erd {
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

.instagram {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.kakao {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}