.Testheader{
    width: 100%;
    height: 150px;
}
.logo{
    background-image: url(../../../assets/newlogo.png);
    background-size: cover;
    width: 250px;
    height: 200px;
    margin-left: 10%;
    position: relative;
    bottom: 20%;
}