.maincontainer{
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}
.nav{
    --bs-nav-link-hover-color: #0d6efd(--bs-link-color);
    --bs-nav-link-color: #ff0000(--bs-link-hover-color);
}
.nav-tabs {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
}


.nav-link:hover{
 color: red;
}
.tab-content{
    width: 80%;
}