.notiline{
    padding: 1%;
}
.createnotilist{
    width: 90px;
    height: 40px;
    font-size: 18px;
    position: absolute;
    border-radius: 15px;

    color: #2c7fdf;
    background-color: #ebf5ff;
    &:hover{
        cursor: pointer;
        color: #2c7fdf;
        background-color: #c2e1ff;
    }
}
.notilistupdatebtn{
    left: 10%;
}
.notilistinput{
    width: 100%;

}
.notilisttext{
 
        width: 100%;
        height: 300px;
        margin-top: 1%;
  
    
}
.notilistform{
    width: 100%;
}