.carInfiContainer {
   
    margin-left: 15%;
    border: 1px solid black;
    border-radius: 15px;
    width: 450px;
    background-color: #c2e1ff;
    overflow: hidden;
}

.thisCar {
    text-align: center;
}
.selectedCar{
    width: 60%;
   
// border: 1px solid black;
}
.selectinfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
    text-align: start;
}
.selectcarbox{
    width: 250px;
    display: flex;
    font-size: 18px;
    margin-top: 2%;
}
.selinformation{
    width: 400px;
    text-align-last: end;
  
}
.selinformation2{

}