.car-info-container {
   
    margin-left: 15%;
    border: 1px solid black;
    border-radius: 15px;
    width: 450px;
    background-color: #c2e1ff;
    overflow: hidden;
}

.thisCar {
    text-align: center;
}