#big {
    display: flex;
    align-items: center; /* 자식 요소들을 수평 중앙에 정렬 */
    width: 100%;
}

.resBtn { // 예약하기 버튼
    margin-left: 735px;
    width: 480px;
    margin-top: 20px;
    height: 30px;
    align-self: center; /* 부모의 정렬 속성을 무시하고 중앙에 정렬 */
}

.resTitle { // 예약확인 글자
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    text-align: left; /* 왼쪽 정렬 */
    flex: 1; /* 여유 공간을 차지하여 왼쪽으로 정렬 */
}

.close-Btn { // 모달 닫기 버튼 
    width: 20px;
    height: 20px;
    font-size: 25px;
    margin-top: 15px;
    color: #2c7fdf;
    display: block;
    cursor: pointer;
    text-align: right;
}

.close-Btn:hover { 
    color: #c2e1ff;
    flex-direction: column;
}

.reservation-container {
    margin-left: 10px;
}




