.resInfo {
    width: 430px;
    font-weight: 50px;
    margin-left: 10px;
    // border: 1px solid red;
}

.resNmae {
    font-size: 100px;
}

.warning {
    font-size: 0.8rem;
    /* 글자 크기 작게 설정 */
    color: silver;
    /* 라이트 그레이 색상 설정 */
    margin-left: 32px;


}