.carswipercontainer{
    height: 350px;
    border: 1px solid lightgray;
    position: relative;
    top: 10px;
}
.swiperSlide{
    height: 100%;
}
.swipercarname{
    width: 70%;
    text-align: center;
    font-size: 20px;
    background-color: white;
}