.carswipercontainer{
    height: 350px;
    border: 1px solid lightgray;
    position: relative;
    top: 10px;
    padding-top: 3%;
    z-index: 1;
    text-align: center;
.carswipercontainer {

  height: 350px;
  border: 1px solid lightgray;
  position: relative;
  top: 10px;
  padding-top: 3%;
  z-index: -10;
}
.swiperSlide{
    height: 100%;
    z-index: 1;
}
.swipercarname{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: white;
}