@font-face {
  font-family: 'font2';
  src: url(https://plugngo.s3.ap-northeast-2.amazonaws.com/WantedSans-SemiBold.woff2);
}

.reservationList {
  width: 450px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;

  .flex {
    display: flex;
    height: 30px;
    margin: 10px 5px;
    align-items: center;
    border-bottom: 1px solid lightgray;

    .value {
      width: 30%;
      font-size: 15px;
    }
  }
}