@font-face {
  font-family: 'font2';
  src: url(https://plugngo.s3.ap-northeast-2.amazonaws.com/WantedSans-SemiBold.woff2);
}

.formWrapper {
  width: 600px;
  border: 1px solid black;
  font-family: font;
  margin-top: 10px;

  .flex {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  .column {
    width: 200px;
  }

  .datePicker {
    width: 220px;
  }
}

.reservation {
  width: 30%;
  justify-self: center;
}

.modalContent {
  background-color: #fff;
  width: 462px;
}

.checkLabel {
  margin: 0 15px 0 5px;
}

// 예약불가능시간 색상
.unavailableTime {
  color: #ccc !important;
}