.searchListContainer {
  width: 510px;
  height: 89vh;
  background-color: white;
  border-right: 1px solid #888;
  position: absolute;
  z-index: 1;
  top: 0;
  // 드래그 못하게
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

.searchListContainer.visible {
  left: 0;
  transition: left 0.5s ease;
  width: 510px;
}

.searchListContainer.hidden {
  left: -510px;
  transition: left 0.5s ease;
}



.openBtn {
  background-color: white;
  width: 35px;
  height: 100px;
  text-align: center;
  line-height: 95px;
  z-index: 1;
  font-size: 2rem;
  font-weight: 'bold';
  cursor: pointer;
  position: absolute;
  border: 1px solid #888;
  // border-left-color: #ddd;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 37vh;
  transition: left 0.5s ease;
  // 드래그 못하게
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.openBtn.visible {
  left: 510px;
}

.openBtn.hidden {
  left: 0;
}