body {
    background-color: #fff;
  }
  
  .chargeapp {
    display: grid;
    grid-template-rows: auto 1fr auto;
    // min-height: 98vh;
    width: 93%;
    min-height: 86vh;
    margin: 3% auto;
    border: 10px solid lightgray;
  
  
  }