.public-btn {
  background-color: #ebf5ff;
  color: #2c7fdf;
  border: 1px solid #2c7fdf;
  border-radius: 5px;
}

.public-btn:hover {
  background-color: #c2e1ff;
  color: #2c7fdf;
  border: 1px solid #2c7fdf;
  border-radius: 5px;
}
