.loginform{
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.body-top{
    width: 100%;
    height: 30%;
    align-content: center;
    margin-top: 10%;
}
.body-bottom{
    width: 100%;
    height: 40%;
    position: relative;
    bottom: 10%;
    align-content: center;
}