.search-list-container {
    height: 800px;
    background-color: white;
    border-right: 1px solid #555;
    z-index: 1;
    position: absolute;
    top: 0;
    transition: left 0.3s ease;
  }
  
  .search-list-container.visible {
    left: 0;
  }
  
  .search-list-container.hidden {
    left: -500px;
  }