.search-list-container {
    height: 800px;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.92;
    transition: left 0.5s ease; /* left 속성에 대한 애니메이션 설정 */
  }
  
  .search-list-container.visible {
    left: 0; /* 보이는 경우 왼쪽으로 이동 */
  }
  
  .search-list-container.hidden {
    left: -500px; /* 숨겨진 경우 왼쪽으로 이동 */
  }